{
    "connection": {
        "port": 3000
    },
    "database": {
        "database": "job_quest",
        "host":     "localhost",
        "username": "job_quest",
        "password": "secret"
    }
}